<main>
<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <defs>
        <symbol xmlns="http://www.w3.org/2000/svg" id="heart" viewBox="0 0 24 24">
            <path fill="currentColor"
                d="M20.16 4.61A6.27 6.27 0 0 0 12 4a6.27 6.27 0 0 0-8.16 9.48l7.45 7.45a1 1 0 0 0 1.42 0l7.45-7.45a6.27 6.27 0 0 0 0-8.87Zm-1.41 7.46L12 18.81l-6.75-6.74a4.28 4.28 0 0 1 3-7.3a4.25 4.25 0 0 1 3 1.25a1 1 0 0 0 1.42 0a4.27 4.27 0 0 1 6 6.05Z" />
        </symbol>
        <symbol xmlns="http://www.w3.org/2000/svg" id="plus" viewBox="0 0 24 24">
            <path fill="currentColor"
                d="M19 11h-6V5a1 1 0 0 0-2 0v6H5a1 1 0 0 0 0 2h6v6a1 1 0 0 0 2 0v-6h6a1 1 0 0 0 0-2Z" />
        </symbol>
        <symbol xmlns="http://www.w3.org/2000/svg" id="minus" viewBox="0 0 24 24">
            <path fill="currentColor" d="M19 11H5a1 1 0 0 0 0 2h14a1 1 0 0 0 0-2Z" />
        </symbol>
        <symbol xmlns="http://www.w3.org/2000/svg" id="star-outline" viewBox="0 0 15 15">
            <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                d="M7.5 9.804L5.337 11l.413-2.533L4 6.674l2.418-.37L7.5 4l1.082 2.304l2.418.37l-1.75 1.793L9.663 11L7.5 9.804Z" />
        </symbol>
        <symbol xmlns="http://www.w3.org/2000/svg" id="star-solid" viewBox="0 0 15 15">
            <path fill="currentColor"
                d="M7.953 3.788a.5.5 0 0 0-.906 0L6.08 5.85l-2.154.33a.5.5 0 0 0-.283.843l1.574 1.613l-.373 2.284a.5.5 0 0 0 .736.518l1.92-1.063l1.921 1.063a.5.5 0 0 0 .736-.519l-.373-2.283l1.574-1.613a.5.5 0 0 0-.283-.844L8.921 5.85l-.968-2.062Z" />
        </symbol>
    </defs>
</svg>
<section id="billboard" class="bg-grey overflow-hidden">
    <div class="swiper main-swiper">
        <div class="swiper-wrapper">


            <div class="swiper-slide"
                style="background: url('/public/images/banner-image-3.jpg') center center / cover no-repeat; width: 1903px;">

                <div class="banner-content">
                    <div class="container">

                        <div class="row justify-content-end">
                            <div class="text-content content-light col-md-6" data-aos="fade">

                                <h4 class="subtitle text-uppercase">Las Mejores Fragancias</h4>

                                <h1 class="banner-title text-uppercase"><a href="#">Perfumes & Exclusividad</a></h1>

                                <p>Dale distinción a tu personalidad con perfumes de las mejores casas y con descuentos
                                    especiales.</p>

                                <div class="btn-left">
                                    <a href="#" class="btn btn-outline-primary btn-pill btn-small">Tienda</a>
                                </div>

                            </div>
                        </div>

                    </div>

                </div>
            </div>

            <div class="swiper-slide"
                style="background: url('/public/images/banner-image-4.jpg') center center / cover no-repeat; width: 1903px;">

                <div class="banner-content">
                    <div class="container">

                        <div class="row justify-content-end">
                            <div class="text-content col-md-6 col-md-offset-6" data-aos="fade">

                                <h4 class="subtitle text-uppercase">Best Quality</h4>
                                <h1 class="banner-title text-uppercase"><a href="#">Best Jewellery</a></h1>

                                <p>Get 10% Discount on this festivals sit amet, consectetur adipisicing elit, sed do
                                    eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                                    Labore et dolore magna aliqua tempor.</p>

                                <div class="btn-left">
                                    <a href="#" class="btn btn-medium btn-primary">Compralo Ya</a>
                                </div>

                            </div>
                        </div>

                    </div>

                </div>
            </div>

            <div class="swiper-slide"
                style="background: url('/public/images/banner-image-5.jpg') center center / cover no-repeat; width: 1903px;">

                <div class="banner-content">
                    <div class="container">

                        <div class="row">
                            <div class="text-content content-light col-md-6" data-aos="fade">

                                <h4 class="subtitle text-uppercase">Best Quality</h4>

                                <h1 class="banner-title text-uppercase"><a href="#">Best Jewellery</a></h1>

                                <p>Get 10% Discount on this festivals sit amet, consectetur adipisicing elit, sed do
                                    eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                                    Labore et dolore magna aliqua tempor.</p>

                                <div class="btn-left">
                                    <a href="#" class="btn btn-medium btn-primary">Compralo Ya</a>
                                </div>

                            </div>
                        </div>

                    </div>

                </div>
            </div>

            <div class="swiper-slide"
                style="background: url('/public/images/banner-image-6.jpg') center center / cover no-repeat; width: 1903px;">

                <div class="banner-content">
                    <div class="container">

                        <div class="row justify-content-end">
                            <div class="text-content col-md-6 col-md-offset-6" data-aos="fade">

                                <h4 class="subtitle text-uppercase">Best Quality</h4>
                                <h1 class="banner-title text-uppercase"><a href="#">Best Jewellery</a></h1>

                                <p>Get 10% Discount on this festivals sit amet, consectetur adipisicing elit, sed do
                                    eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                                    Labore et dolore magna aliqua tempor.</p>

                                <div class="btn-left">
                                    <a href="#" class="btn btn-medium btn-primary">Compra Ya</a>
                                </div>

                            </div>
                        </div>

                    </div>

                </div>
            </div>

        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination"></div>
    </div>
</section>
<section class="company-services padding-large">
    <div class="container">

        <div class="row">
            <div class="icon-box col-md-3 col-sm-6 d-flex" data-aos="fade" data-aos-delay="0">
                <div class="icon-box-icon">
                    <i class="bi bi-award-fill"></i>
                </div>
                <div class="icon-content">
                    <h2 class="text-uppercase">Fragancias Originales!</h2>
                    <p>Aprovecha ofertas de marcas exclusivas.</p>
                </div>
            </div>
            <div class="icon-box col-md-3 col-sm-6 d-flex" data-aos="fade" data-aos-delay="200">
                <div class="icon-box-icon">
                    <i class="bi bi-gender-trans"></i>
                </div>
                <div class="icon-content">
                    <h2 class="text-uppercase">Eleva tu estilo</h2>
                    <p>Explora nuestra colección de perfumes que te definan</p>
                </div>
            </div>
            <div class="icon-box col-md-3 col-sm-6 d-flex" data-aos="fade" data-aos-delay="300">
                <div class="icon-box-icon">
                    <i class="bi bi-gift-fill"></i>
                </div>
                <div class="icon-content">
                    <h2 class="text-uppercase">Regala emociones</h2>
                    <p>Encuentra el perfume perfecto para esa persona especial</p>
                </div>
            </div>
            <div class="icon-box col-md-3 col-sm-6 d-flex" data-aos="fade" data-aos-delay="400">
                <div class="icon-box-icon">
                    <i class="bi bi-bag-heart-fill"></i>
                </div>
                <div class="icon-content">
                    <h2 class="text-uppercase">Compra Segura</h2>
                    <p>Compra en nuestra tienda online, con entrega rápida y segura.</p>
                </div>
            </div>
        </div>

    </div>
</section>
<section class="categories py-5">
    <div class="container">
        <div class="row justify-content-center text-center mb-4">
            <div class="section-header text-center">
                <h2 class="section-title">Nuestras Categorías</h2>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-4 mb-3">
                <div class="card h-100 border-1 shadow-sm">
                    <div class="card-body text-center">
                        <h5 class="card-title">Categoría Masculina</h5>
                        <p class="card-text">Fragancias diseñadas para hombres.</p>
                        <a href="/pdctsfinder?id_marca=&id_categoria=1" class="btn btn-accent btn-rounded">Ver productos</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="card h-100 border-1 shadow-sm">
                    <div class="card-body text-center">
                        <h5 class="card-title">Categoría Femenina</h5>
                        <p class="card-text">Fragancias exclusivas para mujeres.</p>
                        <a href="/pdctsfinder?id_marca=&id_categoria=2" class="btn btn-accent btn-rounded">Ver productos</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="card h-100 border-1 shadow-sm">
                    <div class="card-body text-center">
                        <h5 class="card-title">Categoría Unisex</h5>
                        <p class="card-text">Fragancias para todos los géneros.</p>
                        <a href="/pdctsfinder?id_marca=&id_categoria=3" class="btn btn-accent btn-rounded">Ver productos</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<%- include('pdctosDest') %>

<section class="special-ornaments">
    <div class="container">
        <div class="row ornaments-content">
            <div class="col-md-6">

                <div class="content-box bg-dark d-flex justify-content-evenly align-items-center" data-bs-theme="dark" data-aos="fade">
                    <div class="content-text text-center">
                        <h4>Descuentos del<strong class="text-primary">25%</strong>
                        </h4>
                        <h2 class="element-title fw-bold">Emmer Lattafa</h2>
                        <div class="text-center">
                            <a href="#" class="btn btn-outline-light btn-pill">Compra Ahora</a>
                        </div>
                    </div>
                    <figure>
                        <img src="/public/images/pendant.png" alt="Emmer-Lattafa">
                    </figure>
                </div>

            </div>
            <div class="col-md-6">

                <div class="content-box bg-black d-flex justify-content-evenly align-items-center" data-bs-theme="dark" data-aos="fade">
                    <div class="content-text text-center">
                        <h4>Orientica <strong class="text-primary">Mejores Colecciones</strong>
                        </h4>
                        <h2 class="element-title fw-bold">Royal Amber</h2>
                        <div class="text-center">
                            <a href="#" class="btn btn-outline-light btn-pill">Ver Catálogo</a>
                        </div>
                    </div>
                    <figure>
                        <img src="/public/images/royalAmber.png" alt="Orientica">
                    </figure>
                </div>

            </div>
        </div>
    </div>
</section>
<section class="about-us padding-large" data-aos="fade">
    <div class="container">
        <div class="row">
            <div class="section-header text-center">
                <h2 class="section-title mb-5">Quienes Somos</h2>
            </div>
            <div class="text-content text-center">
                <p class="fw-bold">Destiny Parfums es más que una tienda en línea de perfumes!</p>
                <p>Es un destino para quienes buscan sofisticación, calidad y una experiencia sensorial única. Nos
                    apasiona ofrecer fragancias excepcionales que reflejan personalidad y estilo, seleccionando
                    cuidadosamente cada esencia para brindar exclusividad y elegancia. Con un compromiso hacia la
                    excelencia, en <span class="fw-bold">Destiny Parfums</span> ayudamos a cada cliente a encontrar la
                    fragancia perfecta que complemente su esencia y acompañe cada momento especial.
                </p>
            </div>
        </div>
    </div>
</section>
<section class="special-offer padding-large">
    <div class="container">
        <div class="row">
            <div class="col-md-12 padding-small">
                <div class="section-header text-center">
                    <h3 class="subtitle">
                        <strong class="text-primary">Ofertas Especiales</strong> -40% 
                    </h3>
                </div>
                <div class="text-content text-center">
                    <h2 class="element-title">
                        <strong>En las Mejores Marcas</strong>
                    </h2>
                    <p>Precios por Tiempo Limitado</p>
                </div>
                <div class="text-center">
                    <a href="#" class="btn btn-medium btn-primary">Ver</a>
                </div>
            </div>
        </div>
    </div>
</section>
</main>
