<div class="container-fluid" data-bs-theme="dark" style="background-color: black;">
  <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 border-top d-flex justify-content-space-between" style="padding-top: 3rem;">
    <div class="col" style="margin-right: 10rem; margin-left: 5rem;">
      <a href="/" class="d-flex align-items-center link-dark text-decoration-none">
        <img src="public/images/logo_destiny.png" class="mx-auto d-block" alt="Logo Destiny Perfumería" width="150px" style="margin-top: -16px;">
      </a>
      <p class="text-muted text-center py-2">Destiny Perfumería &copy; 2025</p>
      <div class="text-center">
        <button type="button" class="btn btn-outline-success me-2" style="border-color: rgba(255,255,255,.5);"><i class="bi bi-whatsapp"></i></button>
        <button type="button" class="btn btn-outline-primary me-2" style="border-color: rgba(255,255,255,.5);"><i class="bi bi-facebook"></i></button>
        <button type="button" class="btn btn-outline-common me-2" style="border-color: rgba(255,255,255,.5);"><i class="bi bi-instagram"></i></button>
      </div>
    </div>

    <div class="col mb-3">
      <p class="h4 fw-bold" style="color: #c0a86a;">Enlaces</p>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="/shop" class="nav-link p-0 text-muted">Tienda</a></li>
        <li class="nav-item mb-2"><a href="/about" class="nav-link p-0 text-muted">Acerca de</a></li>
        <li class="nav-item mb-2"><a href="/contact" class="nav-link p-0 text-muted">Contáctenos</a></li>
        <li class="nav-item mb-2"><a href="/terms" class="nav-link p-0 text-muted">Términos y Condiciones</a></li>
      </ul>
    </div>

    <div class="col mb-3">
      <p class="h4 fw-bold" style="color: #c0a86a;">Productos Destacados</p>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="/about" class="nav-link p-0 text-muted">Conozcanos</a></li>
        <li class="nav-item mb-2"><a href="/contact" class="nav-link p-0 text-muted">Contacto</a></li>
        <li class="nav-item mb-2"><a href="/fqa" class="nav-link p-0 text-muted">FAQs</a></li>
        <li class="nav-item mb-2">
            <div class="payment-card">
                <p>Aceptamos:</p>
                <img src="/public/images/visa.png" class="card-image">
                <img src="/public/images/american-express.png" class="card-image">
                <img src="/public/images/master-card.png" class="card-image">
            </div>
        </li>
      </ul>
    </div>

    <div class="col mb-3">
      <form class="row">
        <p class="h4 fw-bold" style="color: #c0a86a;">Subscribase</p>
        <p>Mantenga informado de nuevos productos y ofertas</p>
        <div class="d-flex flex-column flex-sm-row w-100 gap-2">
          <label for="newsletter1" class="visually-hidden">Email</label>
          <input id="newsletter1" type="text" class="form-control" placeholder="Email">
        </div>
        <div class="col-12">
          <button class="btn btn-primary" type="submit">Subscribirse</button>
        </div>
      </form>
    </div>
  </footer>
</div>