<!DOCTYPE html>
<html lang="es">
<head>
  <title><%= title %></title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="author" content="eamusic">
    <meta name="keywords" content="Destiny Parfums, perfumes, fragancias, perfumes de marca, perfumes de lujo, perfumes para hombres, perfumes para mujeres, perfumes unisex">
    <meta name="description" content="Free HTML CSS Template by EA music">
    <link rel="apple-touch-icon" sizes="180x180" href="/public/images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/public/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/public/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="/public/images/favicon/site.webmanifest">
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous"> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/public/fonts/icomoon.css">
    <link rel="stylesheet" type="text/css" href="/public/css/vendor.css">
    <link rel="stylesheet" type="text/css" href="/public/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&family=Poiret+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <script>
      document.addEventListener("DOMContentLoaded", () => {
      const elements = document.querySelectorAll(".fadeSections");

      const observer = new IntersectionObserver((entries) => {
        entries.forEach(entry => {
          if (entry.isIntersecting) {
            entry.target.classList.add("visible");
            entry.target.classList.remove("hidden");
          } else {
            entry.target.classList.add("hidden");
            entry.target.classList.remove("visible");
          }
        });
      }, { threshold: 0.2 });

      elements.forEach(element => observer.observe(element));
    });
    </script>
    <style>
      .contenedor {
        width: auto; /* Ajusta el ancho según tus necesidades */
        height: fit-content; /* Ajusta la altura según tus necesidades */
        overflow: hidden; /* Oculta el contenido que se desborda */
        position: relative; /* Necesario para posicionar el contenido absoluto */
      }

      .contenido {
        position: absolute;
        top: 215px;
        left: 0;
        width: 100%;
        /* height: 100%; */
        opacity: 0; /* Oculta el contenido inicialmente */
        background-color: rgba(255, 255, 255, 0.3); /* Color de fondo para visualizar */
        transition: top 0.3s ease; /* Transición suave */
        z-index: 1; /* Asegúrate de que el contenido esté por encima de la imagen */
      }

      .contenedor:hover .contenido {
        top: 185px; /* Desplaza el contenido hacia abajo (altura del contenedor) */
        opacity: 1; /* Muestra el contenido al hacer hover */
      }

    /* Reinicio básico */
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    body .homepage {
      background: #f7f7f7;
      display: flex;
      justify-content: center;
      align-items: center;
      /* height: 100vh; */
    }

    /* Contenedor del slider */
    .slider-container {
      width: 90%;
      overflow: hidden;
      position: relative;
      padding: 20px 0;
    }

    /* Slider con flex y uso de variable custom para el desplazamiento exacto */
    .slider {
      display: flex;
      /* Se usará la variable --slider-width, que se asigna dinámicamente desde JavaScript */
      animation: scroll 95s linear infinite;
    }

    /* Al hacer hover se pausa la animación */
    .slider-container:hover .slider {
      animation-play-state: paused;
    }

    .slider img {
      min-width: 100px;
      margin-right: 10px;
      border: 2px solid #ddd;
      border-radius: 4px;
    }

    /* Animación desplazándose exactamente el ancho de la primera serie de imágenes */
    @keyframes scroll {
      0% {
        transform: translateX(0);
      }
      100% {
        transform: translateX(calc(-1 * var(--slider-width)));
      }
    }
    /* efecto .fadeSections */
    .fadeSections {
      opacity: 0;
      transform: translateY(60px);
      transition: opacity 0.8s ease-out, transform 0.8s ease-out;
    }

    .fadeSections.visible {
      opacity: 1;
      transform: translateY(0);
    }

    .fadeSections.hidden {
      opacity: 0;
      transform: translateY(60px);
    }

    @media (min-width: 1025px) {
      .h-custom {
      height: 100vh !important;
      }
      }

      .number-input input[type="number"] {
      -webkit-appearance: textfield;
      -moz-appearance: textfield;
      appearance: textfield;
      }

      .number-input input[type=number]::-webkit-inner-spin-button,
      .number-input input[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      }

      .number-input button {
      /* -webkit-appearance: none; */
      background-color: transparent;
      border: none;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      margin: 0;
      position: relative;
      }

      .number-input button:before,
      .number-input button:after {
      display: inline-block;
      position: absolute;
      content: '';
      height: 2px;
      transform: translate(-50%, -50%);
      }

      .number-input button.plus:after {
      transform: translate(-50%, -50%) rotate(90deg);
      }

      .number-input input[type=number] {
      text-align: center;
      }

      .number-input.number-input {
      border: 1px solid #ced4da;
      width: 10rem;
      border-radius: .25rem;
      }

      .number-input.number-input button {
      width: 2.6rem;
      height: .7rem;
      }

      .number-input.number-input button.minus {
      padding-left: 10px;
      }

      .number-input.number-input button:before,
      .number-input.number-input button:after {
      width: .7rem;
      background-color: #495057;
      }

      .number-input.number-input input[type=number] {
      max-width: 4rem;
      padding: .5rem;
      border: 1px solid #ced4da;
      border-width: 0 1px;
      font-size: 1rem;
      height: 2rem;
      color: #495057;
      }

      @media not all and (min-resolution:.001dpcm) {
      @supports (-webkit-appearance: none) and (stroke-color:transparent) {

      .number-input.def-number-input.safari_only button:before,
      .number-input.def-number-input.safari_only button:after {
      margin-top: -.3rem;
      }
      }
      }

      .shopping-cart .def-number-input.number-input {
      border: none;
      }

      .shopping-cart .def-number-input.number-input input[type=number] {
      max-width: 2rem;
      border: none;
      }

      .shopping-cart .def-number-input.number-input input[type=number].black-text,
      .shopping-cart .def-number-input.number-input input.btn.btn-link[type=number],
      .shopping-cart .def-number-input.number-input input.md-toast-close-button[type=number]:hover,
      .shopping-cart .def-number-input.number-input input.md-toast-close-button[type=number]:focus {
      color: #212529 !important;
      }

      .shopping-cart .def-number-input.number-input button {
      width: 1rem;
      }

      .shopping-cart .def-number-input.number-input button:before,
      .shopping-cart .def-number-input.number-input button:after {
      width: .5rem;
      }

      .shopping-cart .def-number-input.number-input button.minus:before,
      .shopping-cart .def-number-input.number-input button.minus:after {
      background-color: #9e9e9e;
      }

      .shopping-cart .def-number-input.number-input button.plus:before,
      .shopping-cart .def-number-input.number-input button.plus:after {
      background-color: #4285f4;
      }

    </style>
</head>