<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  style="display: none"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel"></h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <section class="single-product">
          <div class="container">
            <div class="row">
              <div class="col-md-6">
                <figure class="bg-grey">
                  <img
                    src="/public/images/productos/<%= producto.img_url %>"
                    alt="Afnan-9"
                    class="img-fluid"
                  />
                </figure>
              </div>
              <div class="col-md-6">
                <h2 class="product-title">9 AM POUR FEMME</h2>
                <div class="product-price">
                  <span class="price-tag">$250.000</span>
                </div>
                <div class="product-description">
                  <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Quisquam, voluptatibus.
                  </p>
                </div>
                <div class="product-quantity pt-3">
                  <div class="stock-number text-dark"><em>2 in stock</em></div>
                  <div class="stock-button-wrap">
                    <div
                      class="input-group product-qty"
                      style="max-width: 150px"
                    >
                      <span class="input-group-btn">
                        <button
                          type="button"
                          class="quantity-left-minus btn btn-light btn-number btn-rounded"
                          data-type="minus"
                          data-field=""
                        >
                          <svg width="16" height="16">
                            <use xlink:href="#minus"></use>
                          </svg>
                        </button>
                      </span>
                      <input
                        type="text"
                        id="quantity"
                        name="quantity"
                        class="form-control quantity input-number text-center"
                        value="1"
                        min="1"
                        max="100"
                        placeholder="cant."
                      />
                      <span class="input-group-btn">
                        <button
                          type="button"
                          class="quantity-right-plus btn btn-light btn-number btn-rounded"
                          data-type="plus"
                          data-field=""
                        >
                          <svg width="16" height="16">
                            <use xlink:href="#plus"></use>
                          </svg>
                        </button>
                      </span>
                    </div>
                    <div class="qty-button d-flex flex-wrap">
                      <button
                        type="submit"
                        class="btn btn-primary py-3 px-4 text-uppercase me-3 btn-pill"
                      >
                        Comprar
                      </button>
                      <button
                        type="submit"
                        name="add-to-cart"
                        value="1269"
                        class="btn btn-dark py-3 px-4 text-uppercase btn-pill"
                      >
                        Añadir al Carrito
                      </button>
                    </div>
                  </div>
                </div>
                <!-- <div class="product-quantity d-flex flex-wrap align-items-center">
                      <div class="quantity-box d-flex flex-wrap justify-content-between align-items-center">
                        <span class="quantity-label">Cantidad:</span>
                        <input type="number" name="quantity" value="1" min="1" max="10" class="form-control quantity-input">
                      </div>
                      <button type="button" class="btn btn-primary">Añadir al Carrito</button>
                    </div> -->
                <div
                  class="product-wishlist d-flex flex-wrap align-items-center"
                >
                  <button
                    type="button"
                    class="btn btn-outline-dark btn-small border-0"
                    title="Añadir a la lista de deseos"
                  >
                    <i class="icon icon-heart"></i>
                  </button>
                  <span class="wishlist-label"
                    >Añadir a la lista de deseos</span
                  >
                </div>
                <div class="meta-item d-flex align-items-baseline">
                  <h6 class="item-title no-margin pe-2">Categoría:</h6>
                  <ul class="select-list list-unstyled d-flex">
                    <li data-value="S" class="select-item">
                      <a href="#">Afnan</a>,
                    </li>
                    <li data-value="S" class="select-item">
                      <a href="#"> Mujer</a>,
                    </li>
                    <li data-value="S" class="select-item">
                      <a href="#"> Árabe</a>,
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Cerrar
        </button>
        <button type="button" class="btn btn-primary">
          <i class="icon icon-cart"> Agregar al Carrito</i>
        </button>
      </div>
    </div>
  </div>
</div>
